
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" role="main">
  <section data-section-id="account" data-section-type="account">
    <div class="container container--flush">
      <div class="layout">
        <!--list tác vụ-->
        <div class="layout__section layout__section--secondary">
          <div class="card card--sticky hidden-pocket">
            <div class="card__section card__section--tight">

              <div class="card__linklist">
                <a href="#" class="card__linklist-item link text--strong">Thông tin cá nhân</a>
                <a href="#" class="card__linklist-item link">Đơn hàng của tôi </a>
                <a href="#" class="card__linklist-item link">Thực phẩm đã lưu</a>
                <a href="#" class="card__linklist-item link">Kho bếp của tôi</a>
                <a href="#" class="card__linklist-item link" data-no-instant="" onclick="logOutTK()" >Đăng xuất</a>
              </div>
            </div>
          </div>
        </div>
        <!--layout tác vụ -->
        <div class="layout__section">
          <div class="card">
            <div class="card__section card__section--tight">
              <h1 class="heading h1">Thông tin cá nhân </h1>
            </div>
            <div class="card__section">
              <form method="post" action="/account/addresses" id="address_form_new" accept-charset="UTF-8" class="form">
                <input type="hidden" name="form_type" value="customer_address"><input type="hidden" name="utf8" value="✓">
                <div class="form__input-wrapper form__input-wrapper--labelled">
                  <label for="address-newname]" class="form__floating-label">Họ và tên</label>
                  <input id="address-new[name]" type="text" class="form__field form__field--text " name="address[first_name]" value="" autofocus="">

                </div>

                <div class="form__input-wrapper form__input-wrapper--labelled">
                  <label for="address-new[company]" class="form__floating-label">Công ty</label>
                  <input id="address-new[company]" type="text" class="form__field form__field--text " name="address[company]" value="">

                </div>

                <div class="form__input-wrapper form__input-wrapper--labelled">
                  <label for="address-new[phone]" class="form__floating-label">Điện thoại</label>
                  <input id="address-new[phone]" type="text" class="form__field form__field--text " name="address[phone]" value="">

                </div>

                <div class="form__input-wrapper form__input-wrapper--labelled">
                  <label for="address-new[address1]" class="form__floating-label">Địa chỉ</label>
                  <input id="address-new[address1]" type="text" class="form__field form__field--text " name="address[address1]" value="">

                </div>
                <button class="form__submit button button--primary button--full">Sửa thông tin</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</main>
